
body {
    font-family: Arial, sans-serif;
    background-color: #6c3939;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}
.profile-card {

    position: relative;

    margin: 10px;
    padding: 25px;

    border: 2px solid #ddd;
    border-radius: 12px;

    background-color: rgb(134, 95, 95);

    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;
}
.profile-card img {
    width: 100px;
    height: 100px;

    border-radius: 50%;

    margin-bottom: 15px;
}
.info {
    display: flex;

    flex-direction: column;

    align-items: center;
}

.info h2 {
    margin: 5px;
}

.info p {
    margin: 5px 0 15px;

    color: gray;
}
button {
    padding: 10px 18px;

    border: none;
    border-radius: 5px;

    background-color: #2563eb;

    color: white;

    cursor: pointer;
}


/* BADGE */

.badge {

    /* Required */
    position: absolute;

    top: 10px;
    right: 10px;

    padding: 5px 10px;

    border-radius: 10px;

    background-color: green;

    color: white;

    font-size: 12px;
}

@media (max-width: 700px) {

    .card-container {
        grid-template-columns: 1fr;
    }

}